.function-card {
  padding: 10px;
  width: 25%;
}

.function-card-content {
  display: flex;
  border-radius: 0.03vmin;
  padding: 10px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.function-card-bg-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  filter: blur(10px);
  z-index: 1;
}

.function-card-col {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  width: 0;
  z-index: 2;
}